.documentation {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    width: 100%;
    position: relative;
}

h1 {
    text-align: center;
}