button {
    border-radius: 0px !important;
}

.list-group {
    margin-left: 1em;
}

.list-group-item {
    border: none;
}

h3 {
    display: inline;
    margin-bottom: 0px !important;
    font-size: calc(1rem + .5vw) !important;
    margin-left: 0.5rem;
}

h2 {
    font-size: calc(1rem + .5vw) !important;
    margin-bottom: 0 !important;
}

.clickable {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

svg {
    width: calc(1rem + .5vw);
}

.dataContent p {
    margin-top: 5px;
    margin-bottom: 0px;
    min-width: fit-content;
    margin-left: calc(1.5rem + .5vw);
}

a{
    word-break: break-all !important;
}

.dataContent p:last-child {
    border-bottom: 1px black solid;
    margin-bottom: 1em !important;
}

.endpoint {
    margin: 1em;
}

.responseDescription{
    margin: 0 0 0.5em 0.5em !important;
}