button {
    border-radius: 0px !important;
}

.list-group-item {
    border: none;
}

.clickable {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
    margin-left: 0em;
}

svg {
    width: min(calc(1.5rem + .6vw), 20px) !important;
}

.dataContent {
    margin-left: min(calc(2rem + .6vw), calc(0.5rem + 20px)) !important;
}

.dataContent p {
    margin: 5px 0 0 0;
    min-width: fit-content;
}

.response .dataContent:first-child {
    margin-left: 0 !important;
}

a {
    word-break: break-all !important;
}

.dataContent p:last-child {
    border-bottom: 1px black solid;
    margin-bottom: 1em;
}

.endpoint {
    margin: 1em;
}

.responseStatus {
    font-weight: bold;
}

.responseDescription {
    margin: 0 0 0.5em 0em !important;
}

.exampleRequest p:not(:first-child) {
    margin-top: 0px !important;
}

pre {
    margin: 0 0 1em 0 !important;
}

.noMarginP {
    margin-bottom: 0px !important;
}