.tryForm {
    margin-top: 5px;
    margin-left: min(calc(2rem + .6vw), calc(0.5rem + 20px)) !important;
    display: flex;
    flex-direction: column;
}

.tryForm div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.tryForm div:first-child {
    margin-top: 5px;
}

.tryForm label {
    min-width: 5em;
}

.interactiveRequest pre {
    max-height: 50em;
}

.tryForm button {
    margin-bottom: 1em;
}