.loginContent{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    gap: 1em;
    margin: auto;
}

.loginForm h2 {
    text-align: center !important;
}

.loginForm{
    display: flex !important;
    flex-direction: column !important;
    min-width: 452px;
    background-color: #dedede;
    padding: 2em !important;
    border: 1px black solid;
    border-radius: 25px;
}

.loginError{
    background-color: lightcoral;
    padding: 1em !important;
}

.loginError p {
    text-align: center !important;
    margin-bottom: 0;
}

.loggedIn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em !important;
}

@media screen and (max-width: 600px) {
    .loginForm{
        min-width: 80%;
    }
}