.dataNavigation {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
}

.pageLimitSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jumpToPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}

select {
    min-width: fit-content;
}

.pageButtons {
    margin: 0 1em;
}

button {
    margin: 0 1px 0 1px !important;
}

.currentPage {
    background-color: darkblue !important;
    border: darkblue solid 1px !important;
}

label {
    min-width: fit-content;
    margin: 0 1em !important;
}

@media screen and (max-width: 800px) {
    .dataNavigation {
        display: flex;
        flex-direction: column !important;
        gap: 10px;
    }

    .jumpToPage {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .pageLimitSelection {
        display: flex;
        justify-content: center;
    }

    .pageButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    label {
        margin: 0 1em 0 0 !important;
    }
}