.homePage {
    margin: 0 2em 0 2em;
}

.homeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.imageSection {
    min-width: 640px;
    max-width: 50%;
}

.imageSection img{
    border-radius: 25px;
    max-width:100%;
}

.textSection{
    max-width: 50%;
    min-width: 200px;
}

.recommendation {
    margin: 1em;
}

.homeText {
    margin: 1em;
}

@media screen and (max-width: 1200px) {
    .homeSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
    }

    .imageSection {
        max-width: 100%;
        margin: auto;
        display: block;
    }

    .textSection{
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .imageSection {
        min-width: inherit !important;
        margin: 1em !important;
    }
    
    img{
        width: 100% !important;
    }

    .homePage {
        margin: 1em !important;
    }
}