.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    margin: 1em;
}

select {
    max-width: fit-content;
}

@media screen and (max-width: 760px) {
    .searchForm {
        flex-direction: column;
        margin: 1em;
    }

    input {
        margin: 0;
    }

    select {
        max-width: none;
        margin: 0;
    }
}