.papersGroup {
    margin: 1em 3em 1em 3em;
}

.paper:first-child {
    margin-top: 1em;
}

.paper:nth-child(even) button {
    background-color: lightgray !important;
}

.paper:first-child button {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.paper:last-child button {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

h2 {
    margin: 0.2em;
}

@media screen and (max-width: 600px) {
    .papersGroup {
        margin: 1em
    }
}